.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/.name

*.log
*.html
*.html
mantis-tests/build/reports/tests/test/index.html
*.html
*.xml
mantis-tests/build/test-results/test/TEST-ru.stqa.pft.mantis.tests.LoginTests.xml
mantis-tests/build/test-results/test/binary/results.bin
mantis-tests/build/reports/tests/test/packages/ru.stqa.pft.mantis.tests.html
mantis-tests/build/reports/tests/test/index.html
*.xml
mantis-tests/build/reports/tests/test/index.html
*.xml
*.bin
*.html
*.html
mantis-tests/build/reports/tests/test/index.html
mantis-tests/build/reports/tests/test/index.html
mantis-tests/build/reports/tests/test/packages/ru.stqa.pft.mantis.tests.html
mantis-tests/build/test-results/test/binary/output.bin
mantis-tests/build/test-results/test/binary/output.bin
mantis-tests/build/test-results/test/binary/output.bin.idx
mantis-tests/build/test-results/test/binary/results.bin
mantis-tests/build/test-results/test/binary/results.bin
mantis-tests/build/test-results/test/binary/output.bin
mantis-tests/build/reports/tests/test/packages/ru.stqa.pft.mantis.tests.html
mantis-tests/build/reports/tests/test/index.html
.idea/gradle.xml
mantis-tests/build/test-results/test/binary/results.bin
soap-sample/build/test-results/test/binary/output.bin.idx
